parameters:
    level: 1
    paths:
        - src
        - public
    excludePaths:
        - vendor
        - node_modules
    ignoreErrors:
        - '#Unsafe usage of new static#'
    treatPhpDocTypesAsCertain: false
